version: '3.8'

services:
  api-gateway:
    image: node:18-alpine
    container_name: api-gateway
    working_dir: /app
    ports:
      - "3000:3000"
    volumes:
      - ./:/app
    environment:
      - NODE_ENV=development
      - PORT=3000
      - PRODUCT_SERVICE_URL=http://product-service:3001
      - INVENTORY_SERVICE_URL=http://inventory-service:8000
      - ORDER_SERVICE_URL=http://order-service:4000
      - USER_SERVICE_URL=http://user-service:5000
    command: sh -c "npm install && npm run dev"
    networks:
      - microservices

networks:
  microservices:
    driver: bridge